/* TABLE */
.table
{
    /* background: var(--w-color); */
    padding: 10px;
    display: table;
}

table, th, td 
{ 
    border-collapse: collapse; 
    border: 1px solid var(--b-color); 
    /* background: var(--w-color);  */
}

table 
{ 
    width: 100%; 
}

th, 
td 
{ 
    padding: 12px 15px; 
}

th 
{ 
    font-size: 14px; 
}

td 
{ 
    font-size: 14px; 
} 